---
import {
  StethoscopeIcon,
  PillIcon,
  ManufactureIcon,
  PackageIcon,
} from "@icons/index";

import ServeCard from "@components/card/ServeCard.astro";
---

<div class="container">
  <ServeCard Component={StethoscopeIcon} text="HealthCare" />
  <ServeCard Component={PillIcon} text="Medical" />
  <ServeCard Component={ManufactureIcon} text="Manufacturing" />
  <ServeCard Component={StethoscopeIcon} text="General Goods" />
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 10px;
    justify-items: center;
  }

  @media screen and (min-width: 800px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
    }
  }
</style>
