---
import Van from "@assets/about-cargo-van.webp";
import P1 from "@components/header/P1.astro";
import Title from "@components/header/Title.astro";
---

<>
  <section id="about">
    <div class="container">
      <div class="about-container">
        <div class="about">
          <div class="info-container">
            <div class="info-text-container">
              <Title color="primaryColor"> ABOUT US </Title>
              <P1 color="textGray">
                Your Trusted Partner in Freight and Transportation.
                <br />
                <br />
                At <span>Wide Turn Logistics</span>, we're more than just a
                trucking company we're your reliable partner in moving goods
                efficiently, safely, and on time. As a third-party freight
                service provider, we specialize in truckload services,
                specialized cargo transport, and dedicated fleet.
                <br />
                <br />
                Based in Florida, we're proud to serve local businesses and regional
                partners with a focus on dry van loads, expedited shipping, and box
                truck freight. While we're just starting our journey, our commitment
                to excellence, customer satisfaction, and innovative logistics solutions.
              </P1>
            </div>
            <img src={Van.src} alt="" class="img-van" />
          </div>
        </div>
      </div>
    </div>
  </section>
</>

<style>
  span {
    color: #fcb900;
    font-family: "ITC Avant Garde Gothic Pro Bold", sans-serif;
  }
  .img-van {
    width: 100%;
  }
  .info-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .info-text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  section {
    margin-top: 40px;
    margin-inline: 20px;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about p {
    align-self: flex-start;
    font-size: clamp(18px, 1.5vw, 28px);
  }
  @media screen and (min-width: 800px) {
    section {
      margin-inline: 60px;
    }
    .info-container {
      justify-content: center;
      align-items: center;
      margin-inline: auto;
      gap: 30px;
    }
    .about {
      max-width: 80vw;
      margin: auto;
    }
    .img-van {
      width: 60%;
    }
  }

  @media screen and (min-width: 1000px) {
    .info-container {
      flex-direction: row;
      gap: 40px;
    }
    .info-container p {
      display: inline-block;
      margin-top: 2.8%;
    }
    .img-van {
      width: 50%;
    }
  }

  @media screen and (min-width: 1440px) {
    .info-container {
      gap: 80px;
    }
  }

  @media screen and (min-width: 2000px) {
    .info-container {
      gap: 120px;
    }
  }
</style>
