---
const { as: Component, text } = Astro.props;
---

<div class="card">
  <Component heigth="40" fill="#fff" />
  <p>{text}</p>
</div>

<style>
  .card p {
    color: #fff;
    font-size: clamp(12px, 1.8vw, 18px);
    text-align: center;
  }
  .card {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
