---
import { colors } from "../../constant/colors";

const { color } = Astro.props;

const textColor = colors[color];
---

<p>
  <slot />
</p>

<style define:vars={{ textColor }}>
  p {
    font-size: clamp(18px, 1.5vw, 32px);
    /* font-size: 18px; */
    /* font-size: 32px; */
    color: var(--textColor);
    align-self: flex-start;
    margin: 0;
  }
</style>
