---
import { colors } from "../../constant/colors";

interface Props {
  color: keyof typeof colors;
}

const { color } = Astro.props;

const textColor = colors[color];
---

<h2>
  <slot />
</h2>

<style define:vars={{ textColor }}>
  h2 {
    font-family: "ITC Avant Garde Gothic Pro Bold", sans-serif;
    font-size: clamp(36px, 3vw, 64px);
    font-weight: 800;
    color: var(--textColor);
    text-align: center;
    margin: 0;
  }
</style>
