---
import Van from "../assets/AdobeStock_1139729176.png";
---

<>
  <section id="about">
    <div class="container">
      <div class="about-container">
        <div class="about">
          <h2 class="">ABOUT US</h2>
          <div class="info-container">
            <p class="">
              Your Trusted Partner in Freight and Transportation.
              <br />
              <br />
              At <span>Wide Turn Logistics</span>, we're more than just a
              trucking company we're your reliable partner in moving goods
              efficiently, safely, and on time. As a third-party freight service
              provider, we specialize in truckload services, specialized cargo
              transport, and dedicated fleet.
              <br />
              <br />
              Based in Florida, we're proud to serve local businesses and regional
              partners with a focus on dry van loads, expedited shipping, and box
              truck freight. While we're just starting our journey, our commitment
              to excellence, customer satisfaction, and innovative logistics solutions.
            </p>
            <img src={Van.src} alt="" class="img-van" />
          </div>
        </div>
      </div>
    </div>
  </section>
</>

<style>
  span {
    color: #1171a7;
  }
  .img-van {
    width: 100%;
  }
  .info-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  section {
    margin-top: 40px;
    margin-inline: 20px;
  }
  h2 {
    font-family: "ITC Avant Garde Gothic Pro Bold", sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #1171a7;
    text-align: center;
    margin: 0;
  }
  .about p {
    align-self: center;
    font-size: clamp(18px, 1.5vw, 28px);
  }
  @media screen and (min-width: 800px) {
    section {
      margin-inline: 60px;
    }
    h2 {
      font-size: 64px;
    }
    .info-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-inline: auto;
      gap: 30px;
      max-width: 80vw;
    }
    .img-van {
      width: 40%;
    }
  }

  @media screen and (min-width: 1000px) {
    .info-container {
      margin-top: 60px;
      gap: 60px;
    }
    .info-container p {
      display: inline-block;
    }
    .img-van {
      width: 50%;
    }
  }
</style>
