---
import Van from "../assets/AdobeStock_1139729176.png";
---

<>
  <section id="about">
    <div class="container">
      <div class="about-container">
        <div class="about">
          <h2 class="">ABOUT US</h2>
          <div class="info-container">
            <p class="">
              Your Trusted Partner in Freight and Transportation.
              <br />
              <br />
              At <span>Wide Turn Logistics</span>, we're more than just a
              trucking company we're your reliable partner in moving goods
              efficiently, safely, and on time. As a third-party freight service
              provider, we specialize in truckload services, specialized cargo
              transport, and dedicated fleet.
              <br />
              <br />
              Based in Florida, we're proud to serve local businesses and regional
              partners with a focus on dry van loads, expedited shipping, and box
              truck freight. While we're just starting our journey, our commitment
              to excellence, customer satisfaction, and innovative logistics solutions.
            </p>
            <img src={Van.src} alt="" class="img-van" />
          </div>
        </div>
      </div>
    </div>
  </section>
</>

<style>
  span {
    color: #1171a7;
  }
  .img-van {
    width: 60%;
  }
  .info-container {
    display: flex;
  }
  section {
    margin-top: 40px;
    margin-inline: 20px;
  }
  h2 {
    font-size: 32px;
    font-weight: 800;
    color: #1171a7;
    text-align: center;
    margin: 0;
  }
  .about p {
    align-self: center;
    font-size: clamp(16px, 2vw, 28px);
  }
  /* .about-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about {
    max-width: 550px;
  } */
  @media screen and (min-width: 800px) {
    section {
      margin-inline: 60px;
    }
    h2 {
      font-size: 64px;
    }
  }

  @media screen and (min-width: 1000px) {
    /* .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
      position: relative;
    } */
    /* .container::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: #ccc;
      border-radius: 50%;
      left: 50%;
      transform: translate(-50%);
    } */

    .choise-section {
      /* width: calc(50% - 30px); */
    }
  }
</style>
