---
import MenuIcon from "./svg/MenuIcon.astro";
---

<>
  <header class="flex flex-col max-h-screen h-full" id="Home">
    <nav class="flex items-center px-28 sticky top-0 z-100 bg-white">
      <div class="menu-container">
        <a href="#" class="flex flex-col w-[30%]">
          <img
            src="src/assets/Logo.svg"
            alt="Logo"
            width="100"
            class="logo"
            class="logo"
          />
        </a>
        <input type="checkbox" name="btn-menu" id="btn-menu" />
        <label for="btn-menu" class="btn-menu">
          <MenuIcon />
        </label>
        <ul class="flex items-center w-[70%]">
          <!-- <a
            href="#Home"
            class="p-8 relative hover:before:absolute hover:before:w-[75%] hover:before:h-[2px] hover:before:bg-amber-500 hover:before:rounded-md hover:before:bottom-7.5 hover:before:left-4.5"
            ><li class="font-bold text-xl">Home</li></a
          > -->
          <a
            href="#Services"
            class="p-8 relative hover:before:absolute hover:before:w-[75%] hover:before:h-[2px] hover:before:bg-amber-500 hover:before:rounded-md hover:before:bottom-7.5 hover:before:left-4.5"
            ><li class="font-medium text-xl">Services</li></a
          >
          <a
            href="#about"
            class="p-8 relative hover:before:absolute hover:before:w-[75%] hover:before:h-[2px] hover:before:bg-amber-500 hover:before:rounded-md hover:before:bottom-7.5 hover:before:left-4.5"
            ><li class="font-medium text-xl">About Us</li></a
          >
          <a
            href="#Quote"
            class="p-8 relative hover:before:absolute hover:before:w-[75%] hover:before:h-[2px] hover:before:bg-amber-500 hover:before:rounded-md hover:before:bottom-7.5 hover:before:left-4.5"
            ><li class="font-medium text-xl">Contant Us</li></a
          >
        </ul>
      </div>
    </nav>
    <div class="hero">
      <div class="text-hero">
        <h1>WE HAVE THE SOLUTION TO YOUR FREIGHT CHALLENGES</h1>
        <a href="#Quote" class="">OUR SERVICES</a>
        <img src="src/assets/fmcsa.svg" alt="" class="fmcsa-logo" />
      </div>
      <div class="bg-image"></div>
      <!-- <div class="image-container"> -->
      <!-- <img src="src/assets/Van.png" alt="" class="hero_image" /> -->
      <!-- </div> -->
    </div>
  </header>
</>

<script is:inline>
  const btn = document.querySelectorAll("ul");
  const inputCheckbox = document.querySelector("#btn-menu");
  btn.forEach((item) => {
    item.addEventListener("click", () => {
      inputCheckbox.checked = false;
    });
  });
</script>

<style>
  .bg-image {
    background-image: url("src/assets/Van4.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .hero {
    /* display: flex; */
    /* align-items: center; */
    height: 100vh;
    width: 100%;
    position: relative;
  }

  .image-container {
    height: 100vh;
    width: 100%;
    background-color: hsla(202, 82%, 36%, 70%);
  }

  .hero_image {
    /* width: 100%; */
    position: absolute;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    right: -50%;
  }
  .text-hero {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
    transform: translateY(-30%);
    gap: 40px;
  }
  .text-hero > h1 {
    font-size: 36px;
    color: white;
    text-align: center;
    font-weight: 800;
    margin: 0;
  }

  .text-hero > a {
    font-family: inherit;
    color: white;
    font-size: 18px;
    padding-inline: 30px;
    padding-block: 15px;
    background-color: #fcb900;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    flex: 1;
  }

  .fmcsa-logo {
    width: 250px;
  }

  header {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .menu-container {
    width: calc(100% - 40px);
    /* width: fit-content; */
    /* margin: -20px; */
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dcdcdc;
  }

  nav {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    /* height: 100vh; */
    position: fixed;
    z-index: 999;
    /* visibility: hidden; */
    /* flex-direction: column;
    justify-content: center; */
  }
  ul {
    height: 100%;
    /* display: flex; */
    align-items: center;
    list-style: none;
    text-align: center;
    flex-direction: column;
    display: none;
    /* visibility: hidden; */
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    /* position: sticky; */
  }
  ul > a {
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #333;
    /* background-color: red; */
    padding: 3px;
    position: relative;
    /* flex: 1; */
  }
  ul > a:hover::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 75%;
    background-color: #fcb900;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  /* hover:before:absolute
    hover:before:w-[75%]
    hover:before:h-[2px]
    hover:before:bg-amber-500
    hover:before:rounded-md
    hover:before:bottom-7.5
    hover:before:left-4.5 */
  #btn-menu {
    display: none;
    /* display: flex; */
    /* justify-content: flex-end; */
  }

  #btn-menu:checked ~ ul {
    display: flex;
    opacity: 1;
    visibility: visible;
    left: 0;
    cursor: pointer;
  }
  .menu-container:has(#btn-menu:checked) {
    flex-direction: column;
  }
  #btn-menu:checked ~ nav {
    display: none;
  }

  .btn-menu {
    cursor: pointer;
  }

  #btn-menu:checked ~ .btn-menu {
    display: none;
  }

  @media screen and (min-width: 800px) {
    .text-hero {
      padding-inline: 60px;
    }

    .menu-container {
      width: calc(100% - 140px);
      /* width: fit-content; */
      /* margin: -20px; */
      padding: 10px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav {
      display: flex;
      align-items: center;
      max-width: 100%;
      width: 100%;
      padding-block: 20px;
      padding-inline: 60px;
      /* height: 100vh; */
      position: fixed;
      z-index: 999;
      /* visibility: hidden; */
      /* flex-direction: column;
    justify-content: center; */
    }
    .hero_image {
      /* width: 100%; */
      position: absolute;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
      right: -12%;
    }
    .text-hero {
      top: 50%;
      transform: translateY(-50%);
      align-items: center;
    }

    .text-hero > h1 {
      font-size: 64px;
    }

    .text-hero > a {
      font-size: 24px;
      max-width: 400px;
    }

    ul > a {
      font-size: 18px;
    }

    ul {
      gap: 20px;
      margin: 0;
    }
  }

  @media screen and (min-width: 1000px) {
    #btn-menu,
    .btn-menu {
      display: none;
    }
    .text-hero {
      padding-inline: 60px;
    }

    .menu-container {
      width: calc(100% - 270px);
      /* width: fit-content; */
      /* margin: -20px; */
      padding: 10px;
      padding-inline: 40px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav {
      display: flex;
      align-items: center;
      max-width: 100%;
      width: 100%;
      padding-block: 20px;
      padding-inline: 100px;
      /* height: 100vh; */
      position: fixed;
      z-index: 999;
      /* visibility: hidden; */
      /* flex-direction: column;
    justify-content: center; */
    }
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      text-align: center;
      flex-direction: row;
      /* display: none; */
      /* visibility: hidden; */
      justify-content: flex-end;
      gap: 40px;
      width: 100%;
      padding: 0;
    }
    ul > a {
      width: auto;
      text-decoration: none;
      font-weight: 600;
      font-size: 12px;
      color: #333;
      /* background-color: red; */
      padding: 3px;
      position: relative;
      /* flex: 1; */
    }
    ul > a:hover::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 75%;
      background-color: #fcb900;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
    .hero_image {
      /* width: 100%; */
      position: absolute;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
      /* right: -12%; */
    }
    .text-hero {
      max-width: 50%;
      gap: 80px;
    }
  }

  @media screen and (min-width: 1000px) {
    .hero_image {
      right: 0;
      width: 100%;
      height: auto;
    }
  }

  @media screen and (min-width: 1800px) {
    .text-hero > h1 {
      font-size: 86px;
    }

    .text-hero > a {
      font-size: 32px;
      max-width: 400px;
    }
    .menu-container {
      width: calc(100% - 310px);
      /* width: fit-content; */
      /* margin: -20px; */
      padding: 20px;
      padding-inline: 60px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      width: 200px;
    }

    ul > a {
      font-size: 24px;
    }
  }
</style>
