---
import Van from "../assets/Special Care Color Logo.webp";
import P1 from "./header/P1.astro";
import TitleText from "./header/TitleText.astro";
---

<>
  <section id="about">
    <div class="container">
      <div class="about-container">
        <div class="about">
          <div class="info-container">
            <img src={Van.src} alt="" class="img-van" />
            <div class="info-text-container">
              <TitleText title="SPECIAL CARE" color="primaryColor" />
              <P1 color="textGray">
                In <span>Wide Turn Logistics</span>, we are committed to take
                special care in transporting delicate goods, ensuring they
                arrive safely, securely, and in optimal condition.
                <br />
                <br />
                Our specialized handling processes, climate-controlled transport,
                and secure packaging solutions guarantee the integrity of every shipment
                solutions, ensuring your shipments reach their destination with care
                and precision
              </P1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</>

<style>
  span {
    font-family: "ITC Avant Garde Gothic Pro Bold", sans-serif;
    color: #fcb900;
  }
  .img-van {
    width: 100%;
  }
  .info-container {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .info-text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  section {
    margin-top: 40px;
    margin-inline: 20px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about p {
    /* align-self: ; */
    align-self: flex-start;
    font-size: clamp(18px, 1.5vw, 28px);
    margin: 0;
  }
  @media screen and (min-width: 800px) {
    section {
      margin-inline: 60px;
    }
    .info-container {
      justify-content: center;
      align-items: center;
      margin-inline: auto;
      gap: 40px;
      /* max-width: 80vw; */
    }
    .about {
      max-width: 80vw;
      margin: auto;
    }
    .img-van {
      width: 60%;
    }
  }

  @media screen and (min-width: 1000px) {
    .info-container {
      flex-direction: row;
    }
    .info-container p {
      display: inline-block;
      margin-top: 20px;
    }
    .img-van {
      width: 50%;
    }
    section {
      margin-top: 80px;
    }
  }

  @media screen and (min-width: 1440px) {
    .info-container {
      gap: 80px;
    }
  }

  @media screen and (min-width: 2000px) {
    .info-container {
      gap: 180px;
    }
  }
</style>
