<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/wide-turn-app/favicon.svg" />
    <title>Wide Turn Logistics</title>

    <meta name="title" content="Wide Turn Logistics" />
    <meta
      name="description"
      content="We're more than just a trucking company we're your reliable partner in moving goods efficiently, safely, and on time. As a third-party freight service provider, we specialize in truckload services, specialized cargo transport, and dedicated fleet."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Wide Turn Logistics" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wideturnlogistics.com/" />
    <meta property="og:title" content="Wide Turn Logistics" />
    <meta
      property="og:description"
      content="We're more than just a trucking company we're your reliable partner in moving goods efficiently, safely, and on time. As a third-party freight service provider, we specialize in truckload services, specialized cargo transport, and dedicated fleet."
    />
    <meta
      property="og:image:secure_url"
      itemprop="image"
      content="/wide-turn-app/favicon.svg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://wideturnlogistics.com/" />
    <meta property="twitter:title" content="Wide Turn Logistics" />
    <meta
      property="twitter:description"
      content="We're more than just a trucking company we're your reliable partner in moving goods efficiently, safely, and on time. As a third-party freight service provider, we specialize in truckload services, specialized cargo transport, and dedicated fleet."
    />
    <meta property="twitter:image" content="/wide-turn-app/favicon.svg" />
    <link
      rel="shortcut icon"
      href="/wide-turn-app/favicon.svg"
      type="image/x-icon"
    />

    <script
      src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
      type="module"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
